body {
  background-color: gray;
}

img {
  margin-bottom: 3px;
}

.custom-box {
  border: 2px solid black;
  border-radius: 3px;
  padding: 8px;
  background-color: white;
}

ul p:first-child {
  font-weight: bold;
}

.custom-box h4 {
  background-color: #ffbb99;
  display: inline-block;
  padding: 5px;
}

.yellow {
  background-color: yellow;
}
